# Dependencies
node_modules/
.pnpm-store/

# Build
dist/
build/
.next/
out/

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Nx
.nx
.nx/cache
.nx/workspace-data

# Python
__pycache__/
*.py[cod]
.venv/
venv/
poetry.lock

# Docker
*.pid

# Terraform
*.tfstate
*.tfstate.*
.terraform/

# Test
coverage/
.nyc_output/
test-output
